@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Здравствуйте, Admin!</h1>
        <p>Здесь вы можете создавать и просматривать опросы.</p>
        <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="About">Создание опроса</a>
        <a class="btn btn-info" asp-area="" asp-controller="Polls" asp-action="Delete">Просмотр опросов</a>
    </div>
