<h3 align="center">Задание</h3>
<h4 align="center">к курсовому проектированию</h4>
<h4 align="center">по дисциплине "Объектно-ориентированное программирование"</h4>
<h4 align="center">Специальность: 1-40 05 01 Информационные системы и технологии</h4>
<h4 align="center">Студент: Маркевич И.А.</h4>
<h4 align="center">Группа: 1</h4>
<h4 align="center">Тема: Программное средство “Социологические опросы населения”</h4>