<h3>Вы уже проходили этот тест, желаете перепройти?</h3>
<br/>
<p><a class="btn btn-info" asp-action="Pass" asp-route-id="@ViewBag.PollId" asp-route-redirect="true">Да&#160;</a></p>
<p><a class="btn btn-info" asp-action="Index" asp-route-user="@ViewBag.UserId">Нет</a></p>